/.vscode
/coremods
/crash-reports
/ESM
/fancymenu_data
/local
/logs
/modernfix
/mods
/saves
/screenshots
/XaeroWaypoints
/XaeroWorldMap
icon.png
knownkeys.txt
options.txt
rhino.local.properties
usercache.json
usernamecache.json