/.vscode
/coremods
/crash-reports
/ESM
/fancymenu_data
/local
/logs
/modernfix
/mods
/saves
/screenshots
/tmmi
/XaeroWaypoints
/XaeroWaypoints_*
/XaeroWorldMap
/temp
icon.png
knownkeys.txt
options.txt
rhino.local.properties
usercache.json
usernamecache.json
emi.json
patchouli_data.json
script_dump.md
missingtextures.txt
config/jei/world/local/New_Dev_World/bookmarks.ini